# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Sensitive files
secret.json

# Terraform plan files
*.tfplan
*.plan

# Crash logs
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json